body {
    margin: 0px;
    background-color: #000033;
    background-image: url('images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    font-size: 14pt;
}

@keyframes mainlayout_homebutton_mouseover {
    0% {
        background-image: url('/images/homebutton.png');
    }
    100% {
        background-image: url('/images/homebutton_hover.png');
    }
}

@keyframes mainlayout_homebutton_mouseout {
    0% {
        background-image: url('/images/homebutton_hover.png');
    }
    100% {
        background-image: url('/images/homebutton.png');
    }
}

@keyframes mainlayout_linkbar_item_mouseover {
    0% {
        background-image: url('/images/gradient-bar.png');
    }
    100% {
        background-image: url('/images/gradient-bar_hover.png');
    }
}

@keyframes mainlayout_linkbar_item_mouseout {
    0% {
        background-image: url('/images/gradient-bar_hover.png');
    }
    100% {
        background-image: url('/images/gradient-bar.png');
    }
}

@keyframes button_select {
    0% {
        background-image: url('/images/gradient-bar.png');
    }
    100% {
        background-image: url('/images/gradient-bar_hover.png');
    }
}

@keyframes button_deselect {
    0% {
        background-image: url('/images/gradient-bar_hover.png');
    }
    100% {
        background-image: url('/images/gradient-bar.png');
    }
}