@keyframes mobilelayout_linkbar_item_deselect {
    0% {
        background-image: url('/images/gradient-bar_hover.png');
    }
    100% {
        background-image: url('/images/gradient-bar.png');
    }
}

@keyframes mobilelayout_linkbar_item_select {
    0% {
        background-image: url('/images/gradient-bar.png');
    }
    100% {
        background-image: url('/images/gradient-bar_hover.png');
    }
}

@keyframes mobilelayout_linkpage_appear {
    0% {
        opacity: 0%;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
    }
    100% {
        opacity: 100%;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }
}